<a class="Lineage__BrewGuide__Guide" href="{{ link }}" rel="noopener noreferrer" target="_blank">
  <div class="Lineage__BrewGuide__Thumb"><img class="ofcover" loading="lazy" width="3200" height="2134" src="{{ image }}" alt="{{ name }}" /></div>
  <div class="Lineage__BrewGuide__Card">
    <h3 class="Lineage__BrewGuide__Title">{{ name }}</h3>
    <p class="Lineage__BrewGuide__Desc">{{ description }}</p>
    <div class="Lineage__BrewGuide__Time">{{ time }}</div>
    <div class="Lineage__BrewGuide__Link">View</div>
  </div>
</a>
