<!-- Begin ReCharge code -->
{% include 'subscription-cart-footer' %}
<!-- End ReCharge code -->

<div class="bcow pt2">
  <h1 class="Lineage__Cart__Heading" data-count="{{ cart.item_count }}">Cart</h1>
  <div class="Lineage__Wrapper">
    {%- if cart.item_count > 0 -%}
      <form id="cart-form" action="/cart" method="post" novalidate class="Lineage__Cart__Table">
        <div class="Linage__Cart__List">
          <header class="Lineage__Cart__Columns">
            <h3>Product</h3>
            <h3>Price</h3>
            <h3>Quantity</h3>
          </header>
          {%- for item in cart.items -%}
            <div class="Lineage__Cart__Item" x-data="{ price: {{ item.price }}, q: {{ item.quantity }}, removeItem: function(evt) { if (!confirm(evt.target.getAttribute('aria-title'))) { evt.preventDefault() } } }">
              <a class="Lineage__Cart__Item__Name" href="{{ item.url | within: collections.all }}">
                <img src="{{ item | img_url: 'medium' }}" alt="{{ item.title | escape }}">
                <div>
                  <h3 class="mt0 mb0">{{ item.product.title }}
                  {%- if item.product.variants.size > 1 -%}<small>{{ item.variant.title }}</small>{%- endif -%}
                  </h3>
                  {%- if item.product.type == 'Coffee Beans' -%}{% render 'notes', notes: item.product.tags %}{%- endif -%}
                </div>
              </a>
              <div class="Lineage__Cart__Item__Price">
                {%- render 'price', price: item.price -%}
                {%- for discount in item.discounts -%}{{ discount.title }}{%- endfor -%}
              </div>
              <div class="Lineage__Cart__Item__Quantity">
                <div class="Lineage__Stepper">
                  <button class="Lineage__Stepper__Dec" type="button" @click="$refs.input.value = q - 1; document.getElementById('cart-form').submit()">–</button>
                  <input class="Lineage__Stepper__Input" id="updates_{{ item.key }}" name="updates[]" type="text" inputmode="numeric" pattern="[0-9]*" value="{{ item.quantity }}" x-ref="input" @change="document.getElementById('cart-form').submit()" />
                  <button class="Lineage__Stepper__Inc" type="button" @click="$refs.input.value = q + 1; document.getElementById('cart-form').submit()">+</button>
                </div>
                <a aria-title="Remove {{ item.product.title }}?" href="/cart/change?line={{ forloop.index }}&amp;quantity=0" @click="removeItem">✕</a>
              </div>
            </div>
          {% endfor %}
        <div class="Lineage__Cart__Notes mt2 mb4">
          <label class="Lineage__Cart__Notes__Label" for="order-notes">Order notes</label>
          <textarea class="Lineage__Cart__Notes__Field mt1 mb2" id="order-notes" name="note">{{ cart.note }}</textarea>
          <div class="tar"><button class="Lineage__Button Lineage__Button--Small" name="update" type="submit">Save</button></div>
        </div>
        <div class="mt4 pb4 tar">
          <h3 class="Lineage__Cart__Subtotal mt0 mb0">Subtotal</h3>
          <div class="Lineage__Cart__Price">{{ cart.total_price | money }}</div>
          <div class="Linage__Cart__Colophon mt1 mb2">Price before tax + shipping</div>
          <button class="Lineage__Button" type="submit" name="checkout">Check Out</button>
        </div>
      </form>
    {%- else -%}
      <div class="Lineage__Cart__Zero pb8 pt8 tac">
        <h2 class="mt0 mb1">Go get you somethin’!</h2>
        <a href="{{ collections.coffee.url }}">Browse {{ collections.coffee.title }}</a>
        •
        <a href="{{ collections.gear.url }}">Browse {{ collections.gear.title }}</a>
      </div>
    {%- endif -%}
  </div>
</div>
